# Ignore Visual Studio Code settings
.vscode/
C/.vscode/

# Ignore local history in Visual Studio Code
.history/

# Ignore node_modules in all folders
**/node_modules/

# Ignore specific folders
Tests/

# Ignore specific files
.gitignore

# Ignore built Visual Studio Code Extensions
*.vsix

# Ignore .env files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore backup or temporary files
.env.*